:root {
  --background: rgb(118, 170, 255);
  --primary: rgb(198, 220, 255);
  --light-blue: rgb(153, 181, 252);
  --primary-dark: rgb(23, 111, 253);
  --green: hsl(157, 47%, 84%);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.container {
  background-color: var(--background);
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 12%;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.chat {
  position: relative;
  background-color: white;
  flex: 4;
  padding-right: 10px;
  padding: 5px 10px;
  height: 30vh;
  overflow-y: scroll;
  min-width: 50vw;
}
.heading {
  margin-top: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
}
.join-header {
  text-align: center;
  /* background-color: white; */
  border-radius: 5px;
  padding: 2px 0;
  margin-top: 5px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 0;
}
.message {
  margin-top: 15px;
  border-radius: 10px;
  padding: 0 5px 3px 5px;
  max-width: 45%;
}

.message-user {
  position: relative;
  background-color: var(--light-blue);
  margin-left: 55%;
}
.message-user::before {
  content: '';
  position: absolute;
  right: 2rem;
  border-width: 0.4rem;
  top: 100%;
  border-style: solid;
  border-color: var(--light-blue) transparent transparent var(--light-blue);
}

.message-other {
  position: relative;
  background-color: var(--green);
}

.message-other::before {
  content: '';
  position: absolute;
  right: 2rem;
  border-width: 0.4rem;
  top: 100%;
  border-style: solid;
  border-color: var(--green) transparent transparent var(--green);
}

.meta {
  color: var(--primary-dark);
  margin: 7px 0 0 10px;
  padding-top: 5px;
  top: 0;
  bottom: 0;
}

.meta span {
  color: #222;
}
.leave {
  display: inline-block;
  background-color: var(--primary);
  padding: 5px;
  border: none;
  margin-top: 2px;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
}
.login {
  display: flex;
  justify-content: center;
}
.login-form {
  background-color: var(--background);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 20px;
  margin-top: 20px;
  width: 30%;
  border-radius: 5px;
}

.login-form button {
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
}
.room {
  background-color: var(--primary);
  padding: 5px 10px 5px 0;
  margin-right: 10px;
  border-radius: 2px;
  font-size: 1em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.room-user {
  margin: 5px 0;
}
.text {
  padding: 0 10px;
  margin-top: 0;
}
.user {
  flex: 1;
  align-items: flex-start;
  margin-top: 0;
}
.user p {
  margin-top: 0;
}
.submit {
  display: flex;
  justify-content: space-between;
}
.submit button {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 10px;
}
#msg {
  flex: 3;
  margin: 0 5px;
  border-radius: 3px;
  border: none;
  padding: 5px;
}
#room {
  width: 100%;
  padding: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border: solid #aae 1px;
  font-size: 1em;
}
#username {
  width: 100%;
  padding: 2px;
  border-radius: 2px;
  border: solid var(--light-blue) 1px;
  font-size: 1em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
  .container {
    border-radius: 5px;
    padding: 20px 10px;
    margin: 0 0;
    max-width: 100%;
    height: 100vh;
  }
  .chat {
    flex: none;
    height: 70vh;
  }
  .content {
    flex-direction: column;
    display: flex;
  }
  .message {
    min-width: 80%;
  }
  .message-user {
    margin-left: 10%;
  }
  .room-div {
    flex: 2;
  }
  .user {
    display: flex;
  }
  .user-div {
    flex: 1;
  }

  #users {
    display: flex;
  }
  #users li {
    margin-left: 5px;
  }
}
